h1 {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:red;
}
#content {
    margin: auto;
    width: 50%;
}
#new-topics {
    display: flex;
    justify-content: flex-start;
    flex: 0 1 auto;
}
